<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="recaptchaSiteKey" th:attr="content=${recaptchaSiteKey}">

<title>My Flash Cards - Flash Cards</title>

<script
      id="recaptchaAPI"
      type="text/javascript"
      th:src=@{'https://www.google.com/recaptcha/api.js'(render=${recaptchaSiteKey})}>
</script>

<link rel="icon" type="image/png" href="/images/favicon.png" />
<link href="/css/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

<script type="text/javascript" src="/js/formHandlers.js"></script>
<script type="text/javascript" src="/js/utils.js"></script>

</head>

<body th:object="${loginForm}">
	<div id="overlay">
	
		<div th:replace="home :: baseHeader"></div>
	
		<div class="position-relative container-fluid px-0">
			<header class="row p-4 g-0">
				<h1 class="display-3">My Flash Cards</h1>
			</header>
			<noscript>
				<div class="alert alert-danger px-4 mb-0">Please enable JavaScript to load all elements.</div>
			</noscript>
			<div 
			  class="alert alert-success px-4 mb-0"
			  th:if="${successMessage}"
			  th:text="${successMessage}"
			></div>
			<div 
			  class="alert alert-danger px-4 mb-0"
			  th:if="${notLoggedInError}"
			>You are not logged in.</div>
			<div 
			  class="alert alert-danger px-4 mb-0"
			  th:if="${errors}"
			>There are errors in this form.</div>
			<div 
			  class="alert alert-danger px-4 mb-0"
			  th:if="${recaptchaError}"
			>Invalid recaptcha.</div>
			<div 
			  class="alert alert-danger px-4 mb-0"
			  th:if="${notUserError}"
			>You do not have permission to perform this action.</div>
		</div>
		
		<div class="row g-0">
			<div class="d-flex flex-column flex-shrink-0 p-4 text-white bg-light col-sm-5 col-md-4 col-lg-3">
			    <a href="/" class="d-flex align-items-center mb-0 me-md-auto link-dark text-decoration-none">
			      <span class="fs-4">Actions</span>
			    </a>
			    <hr class="link-dark">
				<ul class="nav nav-pills flex-column mb-4">
			      <li class="nav-item">
			        <a href="/" class="nav-link link-dark">
			          View Public Cards
			        </a>
			      </li>
			      <li class="nav-item">
			        <a href="/create" th:class="'nav-link link-dark'">
			          Create Cards
			        </a>
			      </li>
			      <li class="nav-item">
			        <a href="/my" th:class="'nav-link link-dark'">
			          Edit Cards
			        </a>
			      </li>
			      <li class="nav-item">
			        <a href="/my" th:class="'nav-link link-dark'">
			          Delete Cards
			        </a>
			      </li>
			     </ul>
			     <span class="link-dark fs-4">Account</span>
			     <hr class="link-dark">
			     <ul class="nav nav-pills flex-column mb-0">
			      <li class="nav-item" th:if="${loggedInAs}">
			        <a href="/my" th:class="'nav-link active'">
			          View My Cards
			        </a>
			      </li>
			      <li class="nav-item" th:if="${admin}">
			        <a href="/delete/any" th:class="'nav-link link-dark'">
			          Delete Any Cards
			        </a>
			      </li>
			      <li class="nav-item">
			        <form method="POST" th:action="@{/logout}" th:if="${loggedInAs}">
						<button type="submit" 
							name="logout" 
							value="true"
							class="nav-link link-dark w-100 text-start"
							>Logout</button>
					</form>
					<a href="/account/login" class="nav-link link-dark" th:unless="${loggedInAs}">Login</a>
			      </li>
			    </ul>
			</div>
			<div class="col-sm-7 col-md-8 col-lg-9 p-4">
				<span class="fs-2">My Flash Cards</span>
				<div class="table-responsive-md">
					<table class="table align-middle my-4">
						<thead>
							<tr>
								<th>Title</th>
								<th>Last Updated</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="pile : ${piles}">
								<td>
									<a class="me-2" th:href="@{'/view/' + ${pile.id}}" th:text="${pile.title}"></a>
								</td>
								<td th:text="${#dates.format(pile.lastUpdated, 'yyyy/MM/dd')}"></td>
								<td>
									<a th:href="@{'/edit/' + ${pile.id}}" 
										class="btn btn-sm btn-secondary me-2"
									>Edit</a>
									<form 
										method="POST" 
										th:attr="id=${pile.id}"
										th:action="@{/delete}"
										class="d-inline m-0 p-0"
									>
							        	<input type="hidden" name="recaptcha">
							        	<input type="hidden" name="pileId" th:value="${pile.id}">
										<button type="submit" 
											class="btn btn-sm btn-danger me-2"
											onclick="deleteHandler(event)"
											>Delete</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<ul th:if="${totalPages > 0}" class="pagination justify-content-center mb-0">
					<li class="page-item" th:classappend="${previous + 1 <= 1 && currentPage == previous} ? 'disabled' : ''">
						<a class="page-link" th:href="@{'?page=' + ${previous + 1}}" th:text="Previous"></a>
					</li>
					<li th:each="i: ${#numbers.sequence(1, totalPages)}" class="page-item" th:classappend="${currentPage + 1 == i} ? 'disabled' : ''">
						<a class="page-link" th:href="@{'?page=' + ${i}}" th:text="${i}"></a>
					</li>
					<li class="page-item" th:classappend="${next + 1 > totalPages} ? 'disabled' : ''">
						<a class="page-link" th:href="@{'?page=' + ${next + 1}}" th:text="Next"></a>
					</li>
				</ul>
			</div>
		</div>
		
		<div th:replace="home :: baseFooter"></div>
		
	</div>
</body>

</html>